setuptools
wheel
fastapi
uvicorn[standard]
sqlalchemy
fastapi-pagination
psycopg2-binary
pydantic-settings
python-dotenv
python-jose[cryptography]
aiosmtplib
python-multipart
passlib[bcrypt]
weasyprint
cloudinary
email-validator
mailtrap
redis>=5.0.0
